body{
  background-color: rgb(25,25,25);
  color: white;
}

.board{
  height: 520px;
  width: 420px;
  background-color: rgb(15,15,15);
  border-radius:20px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 1);
}

#results{
  height: 100px;
}

.rubric{
  font-size: 20px;
  position: relative;
  margin-top: 30px;
  width: 150px;
  height: 30px;
  border: 5px solid grey;
  border-radius: 20px;
  float:left;
}

.rubric:nth-child(1){
  margin-left: 20px;
}

.rubric:nth-child(2){
  float:right;
  margin-right: 20px;
}

.rubric div{
  float: left;
}

.text{
  width:150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#x{
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
}

#o{
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
}

#winsX{
  float:right;
  margin-right: 20px;
}

#winsO{
  float: left;
  margin-left: 20px;
}

.square{
  position: relative;
  float:left;
  height: 120px;
  width: 120px;
  border: 10px solid white;
  cursor: pointer;
}

.square:nth-child(1){
  border-radius: 20px 0px 0px 0px;
}

.square:nth-child(3){
  border-radius: 0px 20px 0px 0px;
}

.square:nth-child(7){
  border-radius: 0px 0px 0px 20px;
}

.square:nth-child(9){
  border-radius: 0px 0px 20px 0px;
}

.crossL{
  width: 10px;
  height: 90px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  border-radius: 20px;
}

.crossR{
  width: 10px;
  height: 90px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 20px;
}

.circle{
  width: 70px;
  height: 70px;
  border: 10px solid #ff3863;
  border-radius: 100%;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.miniCrossL{
  width: 4px;
  height: 27px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(135deg);
  border-radius: 20px;
}

.miniCrossR{
  width: 4px;
  height: 27px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 20px;
}

.miniCircle{
  width: 20px;
  height: 20px;
  border: 3px solid #ff3863;
  border-radius: 100%;
  position: absolute;
  top:50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

#after{
  position: relative;
  z-index: 100;
}

.background{
  width: 420px;
  height: 420px;
  border-radius: 20px;
  filter: opacity(80%);
  background-color: rgb(5,5,5);
}

#newGame{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #fff0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

