body{
  background-color: rgb(25,25,25);
}

.plansza{
  height: 750px;
  width: 750px;
  background-color: rgb(15,15,15);
  border-radius:20px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kwadracik{
  position: relative;
  float:left;
  height: 230px;
  width: 230px;
  border: 10px solid white;
  cursor: pointer;
}

.kwadracik:nth-child(1){
  border-radius: 20px 0px 0px 0px;
}

.kwadracik:nth-child(3){
  border-radius: 0px 20px 0px 0px;
}

.kwadracik:nth-child(7){
  border-radius: 0px 0px 0px 20px;
}

.krzyzR{
  width: 20px;
  height: 90px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 20px;
}

.krzyzL{
  width: 20px;
  height: 90px;
  background-color: rgb(3, 157, 252);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  border-radius: 20px;
}

.kolo{
  width: 70px;
  height: 70px;
  border: 10px solid #ff3863;
  border-radius: 100%;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
